.about-me {
  height: 525px;

  &__container {
    position: relative;
    width: 760px;
    height: 296px;
    left: 148px;
    top: 158px;
  }

  &__text {
    height: 211px;
  }

  &__button {
    width: 208px;
    height: 47px;
    margin-top: 40px;

    background: #FF6464;
    border-radius: 2px;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;

    width: 440px;
    height: 105px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    width: 497px;
    height: 66px;
    margin-top: 40px
  }

  &__download {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    position: relative;
    top: 9px;
    left: 20px;

    color: #FFFFFF;
  }

  background: url("../images/photo.png") no-repeat 760px, 140px;
}