.navigation {
  height: 70px;

  &__link {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
  }

  &__list {
    display: flex;
    gap: 33px;

    position: absolute;
    right: 60px;
    top: 27px;
  }
}