* {
  box-sizing: border-box;
  font-family: Heebo, serif;
  color: #21243D;
}
h1 {
  //position: absolute;
  width: 506px;
  height: 105px;
  left: 148px;
  top: 228px;

  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}