@use "about-me";
@use "posts";
@use "header";
* {
  box-sizing: border-box;
}

body {
  font-family: Heebo, sans-serif;
  font-style: normal;
  color: #21243D;
  background: #FFFFFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}