@use "about-me";
@use "posts";
@use "header";
@use "works";
@use "footer";
* {
  box-sizing: border-box;
}

body {
  font-family: Heebo, sans-serif;
  font-style: normal;
  color: #21243D;
  background: #FFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}