.works {
  height: 868px;

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;

    position: relative;
    left: 148px;
    top: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    width: 858px;
    height: 688px;

    position: relative;
    left: 146px;
    top: 22px;
  }

  &__link {

  }

  &__img {
    width: 246px;
    height: 184px;
  }
}